*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}

#menu{
    height: 80 px;
    padding: 0 20px;
    
}

#logo{
    font-size: 30px;
    line-height: 80px;
    
    float: left;
}

nav{
    float: right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #022d53;
}

nav a:hover{
    border-bottom: 2px solid #521111;
}


nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #022d53;
}

.ikon{
    margin-right: 7px;
    font-size: 16px;

}

#anasayfa{
    height: 600px;
    background-image: 
    url(../images/c2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}

#icerik{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    font-size: 20px;
}

#hakkimda{
    background-color: antiquewhite;
    padding: 50px;
    text-align: center;
    text-transform: capitalize ;
    font-weight: 600;
}

h3{
    font-size: 55px;
    color: aliceblue;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;


}

#sol{
    float:left;
    border-right:3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #415768;
}

#h5sol{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 600;
}
#h5sol,#sağ{
    margin:o;
    padding:0;
    margin-top:  20px;
}
span{
    font-size: 56px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float : left;
}

#sağ{
    float: right;
    width: 750px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 100;
}

.img-fluit{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 5px;
    
}

#pson{
    color: #999999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler{
    background-color: antiquewhite;
    padding: 50px;
    text-align: center;
    height: 880px;
    border-top: 1px solid black;
}

.card{
    width: 320px;
    height: 550px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;
}

.baslikcard{
    font-size: 15px;
    color: #003666;
}
.cardp{
    color: #484040;
}

.card:hover{
    border: 2px solid 
    gray;
}

#sertifikalar{
    background-color: rgb(36, 143, 170);
    padding: 60px;
    height: 800px;
    text-align: center;
}

#sertifika3{
    color: aquamarine;
}

.sutun-sol-sag{
    width: 370px;
    float: left;
    padding: 45px;
}

.oval{
    border-radius: 50%;

}

.sertifika4{
    color: aquamarine;
    font-size: 25px;
    margin-bottom: 12px;
}

.ssertifika{
    color: #484040;
    font-size: 22px;
}

.serlink{
    color: antiquewhite;
    border: 1px solid greenyellow;
    padding: 5px;
}

.serlink:hover{
    background-color: #999999;
}

#iletisim{
    background: url(../images/jpg4.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}
#iletisimh3{
    color: aquamarine;
}

#iletopak{
    background: rgba(93, 116, 126, 0.3);
    padding: 35px 25px;
    border-radius: 7px;
    margin-bottom: 50px;
    height: 600px;
}

#formgroup{
    width: 750px;
    float: left;
    height: 600px;
    text-align: left;
}

#solform{
    width: 50%;
    float: left;
    padding-right:  10px;
}
#sagform{
    width: 50%;
    float: left;
}
.form-control{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    line-height: 1.5;
    color: #999999;
    background-color: antiquewhite;
    margin: 13px;
    border-radius: 1.3px solid #bc8383;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #80816a;
    font-size: 20px;
    padding: 7px 25px;
    color: antiquewhite;
    border: 1.5px solid rgb(33, 32, 30);
    border-radius: 7px;
    margin-top: 17px;
}

#id{
    width: 500px;
    float: right;
    padding: 40px;
    height: 600px;
    text-align: left;
}

#h4adres{
    font-size: 30px;
    color: antiquewhite;

}

.padres{
    color: #93e93c;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 800;
}

#copyright{
    color: antiquewhite;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#up{
    color: antiquewhite;
    border: 1.3px solid antiquewhite;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 15px;
}

 #sos{
    color: rgb(72, 138, 182);
    border: 1px solid rgb(68, 75, 57);
    padding: 15px;
    font-size: 30px;
    margin-bottom: 20px;
}

